<!DOCTYPE html>
<html>
  <head>
    <title>Accelerando: Home</title>
  </head>
  <body>
    <a href="/"><h1>Accelerando</h1></a>
    <div>
      <a href="/cycles/"><h2>List of cycles</h2></a>
    <div>
    <div>
      <a href="/pieces/"><h2>List of pieces</h2></a>
    <div>
  </body>
</html>
