<!DOCTYPE html>
<html>
  <head>
    <title>Accelerando: List of Cycles</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Accelerando</h1></a>
    <% if (items.length > 0) { %>
    <ul>
      <% items.forEach(function(item) { %>
      <li><a href="/cycles/<%=item._id%>"><%=item.cycleTi%></a></li>
      <% }); %>
    </ul>
    <% } else { %>
    <div>No cycles have been added.</div>
    <% } %>
    <div class="admin-forms">
      <h2>Add a new cycle</h2>
      <form id="create-cycle" method="post" action="/cycles/">
        <label>Cycle Title: 
          <input name="item[cycleTi]" type="text" required>
        </label>
       <label>LC Identifier of Cycle: 
          <input name="item[cycleID]" type="text">
        </label>  
        <label>Cycle Decription:
            <textarea name="item[cycleDescription]"cols="50" rows="10" ></textarea>
        </label>
        <button>Add Cycle</button>
      </form>
    </div>
  </body>
</html>
