<!DOCTYPE html>
<html>
  <head>
    <title>Accelerando: Pieces</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Accelerando</h1></a>
    <% if (items.length > 0) { %>
    <ul class="listPieces">
      <% items.forEach(function(item) { %>
      <li class="onePiece"><a href="/pieces/<%=item._id%>"><%=item.pieceTi%></a></li>
      <% }); %>
    </ul>
    <% } else { %>
    <div>No pieces found.</div>
    <% } %>
    <div class="search">
      <h2>Search for pieces by title</h2>
      <form id="search-pieces" method="get" action="/pieces/">
        <label>Piece title: <input name="pieceTi"></label>
        <button>Search</button>
      </form>
    </div>
  </body>
</html>
