<!DOCTYPE html>
<html>
  <head>
    <title>Accelerando: List of Cycles</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Accelerando</h1></a>
    <% if (items.length > 0) { %>
    <ul>
      <% items.forEach(function(item) { %>
      <li><a href="/cycles/<%=item._id%>"><%=item.cycleTi%></a></li>
      <% }); %>
    </ul>
    <% } else { %>
    <div>No cycles have been added.</div>
    <% } %>
    <div class="control">
      <h2>Add a new cycle</h2>
      <script>
      function onFormSubmit(form) {
        form.action = form.action + form.elements['item[id]'].value;
        console.log(form.action);
        return true;
      } 
      </script>
      <form method="post" action="/cycles/"
        <label>Title: 
          <input name="item[cycleTi]" type="text" required>
        </label>
        <label>Opus Number: 
          <input name="item[opusNumber]" type="text">
        </label>
		<label>Composition Date (text): 
          <input name="item[cycleCompDateText]" type="text">
        </label>
    	<label>Composition Date (numeric): 
          <input name="item[cycleCompDateNum]" type="date">
        </label>
		<label>Composer: 
          <input name="item[comp]" type="text">
		</label>
		<label>Composer Nationality: 
          <input name="item[compNat]" type="text">
        </label>
		<label>Genre: 
          <input name="item[genre]" type="text">
        </label>
		<label>Difficulty: 
          <input name="item[diff]" type="text">
        </label>
        <label>Notes:
            <textarea name="item[desc]"cols="50" rows="10" ></textarea>
        </label>
        <button>Add Cycle</button>
      </form>
    </div>
  </body>
</html>
